.ac
    background #8579e8
    margin-top 0.5em
    border-color #8579e8

.bot
    margin-bottom 0.5em
.btn.ac:focus
    border-color #8579e8

.text-muted
    margin 0.5em

.Dis
    margin 0.4em
    display flex
    justify-content center

.fa-money   
    font-size 1.8em
    text-align center
.go
    border-left 0.19em solid #8579e8


