.Carousel-container
    background #8579e8
.Carousel-container-scroll
    margin 0
.Carousel-container-padding
    padding 0
.InfoContainer
    padding-top 1em    
    background #887fce
    color #272367
.InfoContainer h4
    margin 1em 0
    font-weight bold
.Title-animated 
    font-size 60px
    text-transform uppercase
.carousel-caption h3:first-child
    animation-delay 1s
.carousel-caption h3:nth-chid(2)
    animation-delay 2s
.carousel-caption   
    bottom 37% !important 
    width 75%
    left 12.8%